html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  height: 70px;
  width: 70px;
  border: 1px solid black;
  background: green;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin {
  height: 65px;
  width: 65px;
  border: 1px solid black;
  background: green;
  border-radius: 50%;
  background: wheat;
}

.black {
  background: black;
}

.white {
  background: white;
}

.row {
  display: flex;
}