html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 20px;
  width: 100%;
  background: whitesmoke;
}

.box {
  height: 70px;
  width: 70px;
  border: 1px solid black;
  background: green;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.coin {
  height: 65px;
  width: 65px;
  border: 1px solid black;
  background: green;
  border-radius: 50%;
  background: wheat;
}

.black {
  background: black;
}

.white {
  background: white;
}

.row {
  display: flex;
}

.board {
  border: 2px solid black;
  border-radius: 5px;
}

h1 {
  font-size: 20px;
}

.possible-move {
  background: red;
}

.empty {
  background: green;
  border: 1px solid rgb(165, 163, 163);
}

.score-board {
  height: 100px;
  width: 99%;
  font-size: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 2px solid black;
}

.score-container {
  display: flex;
  width: 150px;
  font-size: 60px;
  padding: 10px;
  justify-content: space-between;
}

.header {
  font-size: 40px;
  padding: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 790px) {
  html,
  body {
    margin: 5px;
    padding: 0;
    width: auto;
    align-items: baseline;
  }
  .box {
    height: 35px;
    width: 35px;
  }

  .coin {
    height: 33px;
    width: 33px;
  }

  .board {
    border: 5px solid black;
  }

  .score-container {
    align-items: baseline;
    width: 90px;
  }

  .header {
    font-size: 20px;
    font-weight: normal;
  }

  .score-container {
    height: 80px;
    font-size: 45px;
  }

  .score-board {
    height: 70px;
    align-items: baseline;
  }
}